<!-- <div class="btn bun-primary custom-radio inline">

  <label class="radio-inline">
    <input id="first" type="radio" value="first" checked="checked" name="players" (click)="onFirst(true)">
    First(X)
  </label>

  <label class="radio-inline">
    <input id="second" type="radio" value="second" name="players" (click)="onFirst(false)">
    Second(O)
  </label>

</div> -->


<!-- <mat-radio-group ng-model="selvalue">
    <mat-radio-button value="A" class="md-primary" ng-style="{'display': 'inline'}">First</mat-radio-button>
    <mat-radio-button value="B" class="md-primary" ng-style="{'display': 'inline'}">Second</mat-radio-button>
</mat-radio-group> -->

<div class="row-lg-4">

  <label for="first">
    <input id="first" size=55 type="radio" value="first" checked="checked" name="players" (click)="onFirst(true)">
    First(X)
  </label>

  <label for="second">
    <input id="second" type="radio" value="second" name="players" (click)="onFirst(false)">
    Second(O)
  </label>

</div>
