.gamepage{
    display: contents;

    text-align: center;
    // align-items: center;
    // justify-content: center;
}

.grid-style{
    width: 272px;
    margin: auto;
    background-color: rgb(16, 56, 32);
}