.gamepage{
    display: contents;
    text-align: center;
}

.grid-style{
    width: 270px;
    height: 270px;
    margin: auto;
    background-color: green;
}

h3{
     color: rgb(168, 8, 8);
      font-style: italic;
}