.gamepage{
    display: contents;
    text-align: center;
}

.grid-style{
    width: 270px;
    height: 270px;
    margin: auto;
    background-color: green;
}

h3{ color: green; font-style: italic; }